<div class="ae-container-fluid ae-container-fluid--inner rk-main ">
    <div class="ae-grid au-xs-ta-center au-mb-4 animate__animated">
      
      <div *ngFor="let miebro of _is.familia"  class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img [src]="miebro.image" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">{{miebro.name}} </h5>
        <p class="ae-u-bolder au-mb-3">{{miebro.status}} </p>
        <p class="au-lg-ta-bolder au-mb-3 au-pl-4 au-pr-4"> {{miebro.gender}}</p>
        <a [href]="miebro.origin.url" class="ae-u-bolder au-underline">{{miebro.origin.name}}</a>
      </div>
    </div>

    <div class="ae-grid au-pt-2">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">Personajes de Rick y Morty</h4>
        <p>Rick y Morty es una serie de televisión animada para adultos creada por Justin Roiland y Dan Harmon, que se estrenó en 2013. Se trata de Rick Sánchez, un científico excéntrico, loco, caliente, anciano y alcohólico que toma a su joven nieto Morty Smith en aventuras peligrosas y extravagantes en todo el Cosmos y universos alternativos. La siguiente es una lista de personajes de la serie de televisión Rick y Morty.</p>
      </div>
    </div>
    <div  class="ae-grid ae-grid--alt au-xs-ptp-1">
      <div *ngFor="let home of _is.home" class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">{{ home.link}}</h6>
        <p class="au-lh-3">{{ home.titulo}}</p>
      </div>

    </div>
    <p class="au-flex au-pt-4 group-buttons"><a routerLink="home" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">View Our home<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg></span></a></p>
  </div>
